body, h1,h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%; 
      font-weight: normal;
  }
  * {
     box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
.footer{
    height: 300px;
    background-color: black;
    display: flex; 
    
  }
  .footer-author{
   margin: auto;
   font-size: 24px; 
   color: white;
  
  }