{% extends 'base.html' %}
{% block title %}{{article.article_title}}{% endblock %}
{% block content %}
<h2 class="head">{{article.article_title}}</h2>
{% autoescape off %}<p>{{article.article_text}}</p>{% endautoescape %}
<em>{{article.pub_date}}</em>
{% if article.was_published_recently%}
Новая статья
{% endif%}
<hr>
   {% if latest_comments_list %}
      {% for c in latest_comments_list %}
      <p class="comment">
          <strong>{{c.author_name}}</strong>&nbsp<em>{{c.comm_date}}</em>
          <p class="text_comment">{{c.comment_text}}</p>
      </p>
      {% endfor%}
   {% else%}
  К этой статье, пока нет комментариев.
   {% endif%}

<hr>
<form action="{% url 'articles:leave_comment' article.id %}" method="POST">
      {% csrf_token %}
      <input type="text"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Ваше имя" name ="name"> <br>
      <textarea  class="form-control"  name="text" cols="145"  required=""  placeholder="Текст комментария" rows="5" style="overflow: hidden; word-wrap: break-word; resize: none; height: 160px; "></textarea><br>
      <button  class="btn btn-outline-primary" type="submit">Отправить</button>

</form>
{% endblock %}