{% extends 'base.html' %}
{% block title %}{{article.article_title}}{% endblock %}
{% block content %}
<h2 class="head">{{article.article_title}}</h2>
{% autoescape off %}<p>{{article.article_text}}</p>{% endautoescape %}
<em>{{article.pub_date}}</em>
{% if article.was_published_recently%}
Новая статья
{% endif%}
<hr>
   {% if latest_comments_list %}
      {% for c in latest_comments_list %}
      <p class="comment">
          <strong>{{c.author_name}}</strong>
          <p class="text_comment">{{c.comment_text}}</p>
      </p>
      {% endfor%}
   {% else%}
  К этой статье, пока нет комментариев.
   {% endif%}

<hr>
<form action="{% url 'articles:leave_comment' article.id %}" method="POST">
      {% csrf_token %}

      <input class="name" type="text" required placeholder="Ваше имя" name ="name"> <br>
      <textarea  class="form" name="text" cols="186"  required=""  placeholder="Текст комментария" rows="5"></textarea><br>
      <button  class="btn btn-outline-primary" type="submit">Отправить</button>

</form>
{% endblock %}